{% extends 'base.html.twig' %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block body %}
    <div>
        <h1>SnowTricks</h1>
        <p>LA COMMUNAUTÉ POUR DÉCOUVRIR LE SNOWBOARD ET SES FIGURES</p>
    </div>
    <h2>Nos figures</h2>
    <div class="row pb-5">

        {% for trick in tricks %}
            <div class="col-4">
                <div class="card  pb-5">
                    <img style="width:350px; height: 220px;" src="{{ trickDir }}{{ trick.mainImage.name }}"
                         class="img-fluid" alt="trick">

                    <div class="card-body">
                        <h4 class="card-title">{{ trick.name }}</h4>
                        <span class="badge badge-info">{{ trick.category.name }}</span>
                        <p class="card-text"
                           style="height: 120px;">{{ trick.description|length > 200 ? trick.description|slice(0, 200) ~ '...' : trick.description }}</p>
                        <a href="{{ path('trick_show', {'category_slug':trick.category.slug, 'slug':trick.slug}) }}"
                           class="btn btn-primary btn-sm">Détails</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination pagination-lg">
        {{ knp_pagination_render(tricks) }}
    </div>
{% endblock %}