{% extends 'base.html.twig' %}

{% block title %}Création figure{% endblock %}

{% block body %}
    {% include "shared/_flashSuccess.html.twig" %}
    {% include "shared/_flashWarning.html.twig" %}
    <h1> Ajouter une figure</h1>

    {{ form_start(formView) }}
    {{ form_widget(formView) }}

    {# Si la route est "trick_create on affiche les images #}
    {% if app.request.attributes.get('_route') == 'trick_create' %}
        {#<h2>Images</h2>#}
        <div class="row">
            {% for img in trick.image %}
                <div class="col-4">
                    <div class="card">
                        <img src="{{ trickDir }}{{ img.name }}" class="img-fluid" alt="trick">

                        <div class="card-body">

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <button type="submit" class="btn btn-success">Ajouter</button>
    {{ form_end(formView) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#trick_image').on('change', function () {
            files = $(this)[0].files;

            name = '';
            for (var i = 0; i < files.length; i++) {
                name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
            }
            $(".custom-file-label").html(name);
        });
    </script>
{% endblock %}

