{% extends 'base.html.twig' %}

{% block title %}Modifier figure{% endblock %}

{% block body %}
    {% include "shared/_flashSuccess.html.twig" %}
    {% include "shared/_flashWarning.html.twig" %}
    <h1> Modifier la figure</h1>

    {{ form_start(formView) }}
    {{ form_widget(formView) }}

    {# Si la route est "trick_create on affiche les images #}
    {% if app.request.attributes.get('_route') == 'trick_modify' %}
        {#<h2>Images</h2>#}
        <div class="row">
            {% for img in images %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../{{ trickDir }}{{ img.name }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ img.name }}</h5>
                        <a href="{{ path('trick_delete_picture', {id: img.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for vid in videos %}
                <div class="card" style="width: 18rem;">
                    <iframe width="560" height="315" src="{{ vid.name }}" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <a href="{{ path('trick_delete_video', {id: vid.id}) }}"
                           class="btn btn-danger btn-sm">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <button type="submit" class="btn btn-success">Modifier les données de la figure</button>
    {{ form_end(formView) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#trick_image').on('change', function () {
            files = $(this)[0].files;

            name = '';
            for (var i = 0; i < files.length; i++) {
                name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
            }
            $(".custom-file-label").html(name);
        });
    </script>
{% endblock %}

