{% extends 'base.html.twig' %}

{% block title %}Modifier figure{% endblock %}

{% block body %}
    {% include "shared/_flashSuccess.html.twig" %}
    {% include "shared/_flashWarning.html.twig" %}
    <h1> Modifier la figure</h1>

    {{ form_start(formView) }}
    {{ form_widget(formView) }}

    {# Si la route est "trick_create on affiche les images #}
    {% if app.request.attributes.get('_route') == 'trick_modify' %}
        <h4>Les images : </h4>
        <div class="row pb-5">
            {% for img in images %}
                <div class="col-4">
                    <div class="card">
                        <img style="width:350px; height: 200px;" src="../{{ trickDir }}{{ img.name }}"
                             class="img-fluid" alt="trick">
                        <div class="card-body pb-5">
                            <h4 class="card-title">{{ img.name }}</h4>
                            <a href="{{ path('trick_delete_picture', {id: img.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row pb-5">
            {% for vid in videos %}
                <div class="col-4">
                    <div class="card">
                        <iframe width="350" height="200" src="{{ vid.name }}" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body pb-5">
                            <a href="{{ path('trick_delete_video', {id: vid.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {#<div class="row">#}
        {#{% for vid in videos %}#}
        {#<div class="card" style="width: 18rem;">#}
        {#<iframe width="560" height="315" src="{{ vid.name }}" title="YouTube video player"#}
        {#frameborder="0"#}
        {#allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"#}
        {#allowfullscreen></iframe>#}
        {#<div class="card-body">#}
        {#<a href="{{ path('trick_delete_video', {id: vid.id}) }}"#}
        {#class="btn btn-danger btn-sm">Supprimer</a>#}
        {#</div>#}
        {#</div>#}
        {#{% endfor %}#}
        {#</div>#}
    {% endif %}
    <button type="submit" class="btn btn-success">Modifier les données de la figure</button>
    {{ form_end(formView) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#trick_image').on('change', function () {
            files = $(this)[0].files;

            name = '';
            for (var i = 0; i < files.length; i++) {
                name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
            }
            $(".custom-file-label").html(name);
        });
    </script>
{% endblock %}

