{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.name }}
{% endblock %}
{#{% block stylesheets %}#}
    {#<link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">#}
    {#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" id="bootstrap-css">#}
    {#<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>#}
{#{% endblock %}#}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        {#<li class="breadcrumb-item"><a#}
        {#href="{{ path('trick_category',{'slug':trick.category.slug}) }}">{{ trick.category.name }}</a></li>#}
        {#<li class="breadcrumb-item active">{{ trick.name }}</li>#}
    </ol>
    <h1>Figure : {{ trick.name }}</h1>
    <div class="row">
        <div class="col-4">

            <img src="../{{ trickDir }}{{ trick.mainImage.name }}" class="img-fluid"
                 alt="Image de {{ trick.name }}">
        </div>
        <div class="col">
            <span class="badge badge-primary">{{ trick.category.name }}</span>
            <p> {{ trick.description }}</p>
        </div>
    </div>
    <div class="row mx-auto pt-5 pb-5">
        {% for img in images %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../{{ trickDir }}{{ img.name }}" alt="Card image cap">

            </div>
        {% endfor %}
    </div>
    <div class="row mx-auto pt-5 pb-5">
        <div class="col-md-8 ml-auto mr-auto">
            {% if app.user %}
                <div class="brand text-center">
                    <h2>Les commentaires </h2>
                </div>
                {#<div class="container">#}
                <div class="well">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placekitten.com/150/150">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Receta 1</h4>
                            <p class="text-right">By Francisco</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam
                                sit amet vulputate.
                                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean
                                sit amet felis
                                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum
                                auctor accumsan.
                                Aliquam in felis sit amet augue.</p>
                            <ul class="list-inline list-unstyled">
                                <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                                <li>|</li>
                                <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                                <li>|</li>
                                <li>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </li>
                                <li>|</li>
                                <li>
                                    <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                    <span><i class="fa fa-facebook-square"></i></span>
                                    <span><i class="fa fa-twitter-square"></i></span>
                                    <span><i class="fa fa-google-plus-square"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {#</div>#}

            {% else %}
                <div class="brand text-center">
                    <h5>Réagissez ! Laissez votre commentaire</h5>
                    <h5>Vous n'êtes pas enregistré.</h5>
                    <h5>Veuillez vous authentifier ou enregistrez vous si vous n'êtes pas déjà inscrit !</h5>

                </div>
                <div class="col text-center">
                    <a href="{{ path("security_login") }}" class="btn btn-success">SE CONNECTER</a>
                    <a href="{{ path("security_registration") }}" class="btn btn-success">S'ENREGISTRER</a>
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}
