{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.name }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a
                    href="{{ path('category_show',{'slug':trick.category.slug}) }}">{{ trick.category.name }}</a></li>
        <li class="breadcrumb-item active">{{ trick.name }}</li>
    </ol>
    <h1>Figure : {{ trick.name }}</h1>
    <div class="row">
        <div class="col-4">

            <img src="../{{ trickDir }}{{ trick.mainImage.name }}" class="img-fluid"
                 alt="Image de {{ trick.name }}">
        </div>
        <div class="col">
            <span class="badge badge-primary">{{ trick.category.name }}</span>
            <p> {{ trick.description }}</p>
        </div>
    </div>
    <div class="row mx-auto pt-5 pb-5">
        {% for img in images %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../{{ trickDir }}{{ img.name }}" alt="Card image cap">

            </div>
        {% endfor %}
    </div>
    <div class="row mx-auto pt-5 pb-5">
        <div class="col-md-8 ml-auto mr-auto">
            {% if app.user %}
                {{ form_start(formView) }}
                {{ form_widget(formView) }}
                <button type="submit" class="btn btn-success">Envoyer votre commentaire!</button>
                {{ form_end(formView) }}
            {% else %}
                <div class="brand text-center">
                    <h5>Réagissez ! Laissez votre commentaire</h5>
                    <h5>Vous n'êtes pas enregistré.</h5>
                    <h5>Veuillez vous authentifier ou enregistrez vous si vous n'êtes pas déjà inscrit !</h5>

                </div>
                <div class="col text-center">
                    <a href="{{ path("security_login") }}" class="btn btn-success">SE CONNECTER</a>
                    <a href="{{ path("security_registration") }}" class="btn btn-success">S'ENREGISTRER</a>
                </div>
            {% endif %}
        </div>
        <div class="row mx-auto pt-5 pb-5">

            <div class="brand text-left">
                <h2>Les commentaires </h2>
            </div>
            <div class="well">
                {% for cmt in comments %}
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="../{{ cmt.user.photo }}">
                        </a>
                        <div class="media-body">
                            {#<h4 class="media-heading">Receta 1</h4>#}
                            <h4 class="text-right">{{ cmt.user.nom }} {{ cmt.user.prenom }}</h4>
                            <p>{{ cmt.message }}</p>
                            <ul class="list-inline list-unstyled">
                                <li>
                                    <span><i class="glyphicon glyphicon-calendar"></i> {{ cmt.createDate |  date('d/m/Y') }} </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="pagination pagination-lg">
            {{ knp_pagination_render(comments) }}
        </div>

    </div>
{% endblock %}
